include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/popup/popup.pug
include ../blocks/popup/buy/popup-buy.pug
include ../blocks/popup/fast/popup-fast.pug
include ../blocks/popup/image/popup-image.pug
include ../blocks/popup/response/popup-response.pug

-
  loadAssets = function(file) {
    const req = require.context(
    "@/assets/",
    true, // Load files recursively. Pass false to skip recursion.
    /^\.\/.*\.(svg|jpg|png)$/ // Match files ending with .md.
    );
    if (file.indexOf('.svg') !== -1) {
    return req(file).symbol;
    }
    return req(file);
  }

- var headerData = require('../data/template/header.json');
- var footerData = require('../data/template/footer.json');
- var whiteTheme = false;

block vars
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='format-detection', content='telephone=no')
    link(href='./favicon.ico', rel='shortcut icon', type='image/x-icon')
    title Title
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet', href=css)
    if (htmlWebpackPlugin.files.extracted && htmlWebpackPlugin.files.extracted.css)
      each css in htmlWebpackPlugin.files.extracted.css
        link(rel='stylesheet', href=('../' + css.file), media=css.query)
  body
    .page(class=whiteTheme ? 'page--white-theme': '')
      .page__wrap
        if (headerData)
          +header(headerData)
        block content
      if (footerData)
        +footer(footerData)
    .popup-layout
      +popup({
        id: 'popup-subscribe',
        url: '/ajax/subscribe.php',
        title: 'Подписка на рассылку',
        inputs: [
          {
            name: 'subscribe',
            placeholder: 'Ваш email',
            type: 'email'
          }
        ],
        submit: 'Подписаться'
      })
      +popup({
        id: 'popup-callback',
        url: '/ajax/callBack.php',
        title: 'Заказать обратный звонок',
        inputs: [
          {
            name: 'name',
            placeholder: 'Ваше имя'
          },
          {
            name: 'phone',
            placeholder: 'Ваш номер телефона'
          }
        ],
        submit: 'Заказать обратный звонок'
      })
      +popup-buy({
        title: 'БЫСТРАЯ ПОКУПКА',
        id: 'popup-buy'
      })
      +popup-fast({
        title: 'Быстрый просмотр товаров',
        id: 'popup-fast'
      })
      +popup-response({
        linkHref: '#',
        linkText: 'Перейти в корзину'
      })
      +popup-image()
    block inits
    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript', src=js, async, defer)
